<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.AndroidCourseApp"
            tools:targetApi="31">

        <service
                android:name=".practices.practice10.Practice10_PlayerStarted"
                android:enabled="true"
                android:exported="true">
        </service>
        <service
                android:name=".practices.practice10.Practice10_PlayerBound"
                android:enabled="true"
                android:exported="true">
        </service>

        <activity
                android:name=".practices.practice10.Practice10"
                android:exported="false" />
        <activity
                android:name=".practices.Practice9"
                android:exported="false" />
        <activity
                android:name=".practices.practice8.Practice8_SQLite"
                android:exported="false" />
        <activity
                android:name=".practices.practice8.Practice8_ExternalStorage"
                android:exported="false" />
        <activity
                android:name=".practices.practice8.Practice8_InternalStorage"
                android:exported="false" />
        <activity
                android:name=".practices.practice8.Practice8_FileSystem"
                android:exported="false" />
        <activity
                android:name=".practices.practice8.Practice8_SharedPreferences"
                android:exported="false" />
        <activity
                android:name=".practices.practice8.Practice8"
                android:exported="false" />

        <activity
                android:name=".practices.Practice7"
                android:exported="false"/>
        <activity
                android:name=".practices.Practice5"
                android:exported="false"/>
        <activity
                android:name=".practices.Practice6_Greeting"
                android:exported="false"/>
        <activity
                android:name=".practices.Practice6"
                android:exported="false"/>
        <activity
                android:name=".practices.Practice4"
                android:exported="false"/>
        <activity
                android:name=".practices.Practice3"
                android:exported="false"/>
        <activity
                android:name=".practices.Practice2"
                android:exported="false"/>
        <activity
                android:name=".practices.Practice1"
                android:exported="false"/>
        <activity
                android:name=".ListPractice"
                android:exported="false"
                android:label="@string/title_activity_list_view"
                android:theme="@style/Theme.AndroidCourseApp"/>
        <activity
                android:name=".MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.SENDTO"/>
                <action android:name="android.intent.action.CALL"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver
                android:name=".practices.Practice7_Receiver"
                android:enabled="true"
                android:exported="true">
            <intent-filter>
                <action android:name="com.hoanhlv.CUSTOM_ACTION"/>
                <action android:name="android.intent.action.AIRPLANE_MODE"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>